.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card-list>div {
    width: 20%;
}

.card-container {
    margin: 10px;
    padding: 20px;
    background: #1A120B;
    border-radius: 20px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.05);
}

.card-container p,
.card-container h2 {
    color: #E5E5CB;
}



@media only screen and (max-width: 1199px) {
    .card-list>div {
        width: 25%;
    }
}
@media only screen and (max-width: 991px) {
    .card-list>div {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .card-list>div {
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    .card-list>div {
        width: 100%;
    }
}