* {
  box-sizing:border-box;
}
body {
  margin: 5%;
  font-family: 'Inconsolata', monospace;
  background-color: #E5E5CB;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1.app-title {
  font-family: 'Permanent Marker', cursive;
  font-size: 64px;
  color:#1A120B;
  margin-bottom:20px;
}

h1,h2,h3,h4,h5,h6,p {
  color: #1A120B;
}

@media only screen and (max-width: 480px) {
  h1.app-title  {
    font-size: 48px;
  }
}